aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
anthropic==0.28.1
anyio==4.3.0
asttokens
attrs==23.2.0
beautifulsoup4
biplist==1.0.3
Bottleneck
Brotli
cachetools==5.3.3
certifi
chardet
charset-normalizer
click==8.1.7
comm
configparser==7.0.0
contourpy
cycler
dashscope==1.19.2
debugpy
decorator
diskcache
distro==1.9.0
docstring_parser==0.16
emit==0.4.0
eval_type_backport==0.2.0
exceptiongroup
executing
filelock==3.15.3
fonttools==4.25.0
frozenlist==1.4.1
fsspec==2024.6.0
gcloud==0.18.3
git-filter-repo==2.45.0
google-ai-generativelanguage==0.6.4
google-api-core==2.19.0
google-api-python-client==2.132.0
google-auth==2.30.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.54.1
google-cloud-bigquery==3.24.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-generativeai==0.6.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.1
grpc-google-iam-v1==0.13.0
grpcio==1.64.1
grpcio-status==1.62.2
h11
httpcore==1.0.5
httplib2==0.22.0
httpx
huggingface-hub==0.23.4
idna
importlib_metadata
ipykernel
ipython
jedi
jiter==0.4.2
jupyter_client
jupyter_core
kiwisolver
lxml
markdown-it-py==3.0.0
matplotlib
matplotlib-inline
mdurl==0.1.2
multidict==6.0.5
munkres==1.1.4
nest_asyncio
networkx
numexpr
numpy
oauth2client==4.1.3
openai==1.40.2
packaging
pandas
parso
pexpect
pickleshare
pillow==10.4.0
platformdirs
ply
portpicker==1.6.0
prompt-toolkit
proto-plus==1.23.0
protobuf==4.25.3
psutil
ptyprocess
pure-eval
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pydantic==2.7.1
pydantic_core==2.18.2
Pygments
pyparsing
pypinyin==0.51.0
PyQt5==5.15.10
PyQt5-sip
PySocks
pysqlite3==0.5.2
python-dateutil
pytz
PyYAML==6.0.1
pyzmq
regex==2024.5.15
requests==2.31.0
rich==13.7.1
rsa==4.9
scipy
seaborn
selenium
setuptools==68.2.2
shapely==2.0.4
shellingham==1.5.4
simplejson==3.19.2
sip
six
sniffio
soupsieve
stack-data
tabulate==0.9.0
tiktoken==0.3.3
together==1.2.1
tokenizers==0.19.1
tornado
tqdm
traitlets
typer==0.12.3
typing_extensions
tzdata
uritemplate==4.1.1
urllib3==2.2.1
wcwidth
wheel==0.41.2
yarl==1.9.4
zipp
genai